# Next.js build output
.next
app

# Electron.js build output
dist

# Dependency directories
node_modules

# Environment variable files
.env
.env.development
.env.production

# Visual Studio Code
.vscode

# Tests coverage
coverage

# OS-specific files
.DS_Store
