# Log files
logs
*.log
npm-debug.log*

# Next.js build output
.next

# Electron.js build output
app
dist

# Dependency directories
node_modules
jspm_packages

# Environment variable files
.env
.env.local
.env.development
.env.production

# Visual Studio Code
.vscode

# Local history for Visual Studio Code
.history

# OS-specific files
.DS_Store
