@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  select {
    -webkit-appearance: none;
  }

  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #2f3136;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dcddde;
    border-radius: 14px;
    border: 3px solid #2f3136;
  }

  :root {
    --toastify-color-dark: #202225;
    --toastify-text-color-dark: #dcddde;
    --toastify-color-warning: #fcd63a;
  }

  body {
    background: #001e3c;
  }

  #map {
    background: #001e3c;
  }
}
