@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root {
  --toastify-color-dark: #202225;
  --toastify-text-color-dark: #dcddde;
  --toastify-color-warning: #fcd63a;
}

body {
  background: #001e3c;
}

#map {
  background: #001e3c;
}
